.handlers-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    background-color: #fff;
}
.handlers-title {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.handlers-subtitle {
    font-size: 2rem;
}
.mouse-handler {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
[class$='handler']:not(.form-handler) {
    min-width: 650px;
    padding: 16px;
    font-size: 2.6rem;
    margin: 8px;
    border: 1px solid #000;
    text-align: center;
    outline: none;
    background-color: #fff;
}
.form-handler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
