@import './mixins.scss';

.techs-wrapper {
    background-color: #fff;

    h1 {
        @include font(3.4rem, 500);
        text-align: center;
        margin: 12px;
    }
    div {
        @include flex(row, space-around, center, wrap);
        width: 100%;
        margin: 43px 0;
        img {
            width: 15%;
            object-fit: contain;
        }
    }
}
