@import './mixins.scss';

.techs-title {
    @include font(3.4rem, 500);
    text-align: center;
    margin: 12px;
}
.techs-logos {
    @include flex(row, space-around, center, wrap);
    width: 100%;
    margin: 43px 0;
}
.techs-logo {
    width: 15%;
    object-fit: contain;
}
