@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#root {
    background-color: #f0f1f7;
}
div[class*='wrapper'] {
    margin: 40px 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}
