@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}

.app {
    @include flex(row, space-between, flex-start);
    padding: 20px 30px;
    min-height: 100vh;
    background-color: #eadef5;

    .sidebar {
        @include flex(column, flex-start, center);
        height: 100%;

        .navigation {
            font-size: 2rem;
            flex: 0 0 15%;
            padding: 10px 16px;
            margin-bottom: 40px;
            border-radius: 16px;
            list-style-type: none;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            a {
                color: #5800ff;
            }
            a:hover {
                color: #0096ff;
            }
        }
    }

    .pages {
        @include flex(row, center, flex-start);
        width: 80%;
        height: 100%;
        margin: 0 12px;

        div[class*='wrapper'] {
            width: 100%;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .button {
            @include hover-blur;
            @include borderless;
            @include unselectable;
            padding: 12px 24px;
            border-radius: 4px;
            margin-top: 32px;
            font-size: 3rem;
            color: #fff;
        }
    }
}
.app.dark-mode {
    background-color: #000;
}
