@mixin flex($direction, $justify, $align, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin font($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin borderless {
    border: none;
    outline: none;
}

@mixin unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

@mixin hover {
    cursor: pointer;
}
@mixin hover-blur {
    &:hover {
        @include hover;
        opacity: 0.8;
    }
}
@mixin hover-scale {
    &:hover {
        @include hover;
        transform: scale(1.1);
    }
}
