.numbers-wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbers-title {
    font-size: 5.4rem;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
}
.numbers-subtitle {
    font-size: 3.8rem;
    margin-bottom: 32px;
    text-align: center;
}
.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.number {
    width: 12%;
    height: 180px;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin: 1px;
    min-width: 200px;
}
.number--green {
    background-color: #21bf73;
}
.number--yellow {
    background-color: #fddb3a;
}
.number--red {
    background-color: #fd5e53;
}
