@import './mixins.scss';

.numbers-wrapper {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;

    .numbers {
        @include flex(row, space-between, center, wrap);
        margin: -8px 0;

        div {
            @include flex(row, center, center);
            width: 16%;
            height: 180px;
            margin: 8px 0px;
            font-size: 5rem;
            color: #fff;
            background-color: #000;
        }
        .green {
            background-color: #21bf73;
        }
        .yellow {
            background-color: #fddb3a;
        }
        .red {
            background-color: #fd5e53;
        }
    }
}
