.seasons-wrapper {
    height: 800px;
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.seasons-button {
    width: 200px;
    padding: 20px 30px;
    font-size: 4rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 10px rgba(251, 249, 249, 0.5);
}
.seasons-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Animations */
.skeleton-screen {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    height: 200px;
    position: relative;
}
@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}
