.world-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #fff;
}
.world-project {
    font-size: 5.4rem;
    font-weight: 500;
}
.world-title {
    font-size: 4.2rem;
    font-weight: 300;
    margin-bottom: 16px;
}
.world-subtitle {
    font-size: 1.8rem;
    font-weight: 200;
}
.world-countries {
    width: 80%;
    margin: 36px 0;
}
.world-country {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 8px 0;
}
.world-name {
    text-transform: uppercase;
    min-width: 10%;
}
.world-bar {
    min-width: 74%;
}
.world-visualization {
    background-color: #ffa500;
    height: 40px;
    border-radius: 4px;
}
.world-population {
    margin-left: 12px;
    min-width: 12%;
}
