.dark-mode-wrapper {
    padding: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.dark-mode-button {
    padding: 24px;
    font-size: 3rem;
    border-radius: 16px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
.dark-mode-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

/* Dark mode */
.dark-mode-wrapper.dark-mode .dark-mode-button {
    color: #fff;
    background-color: #000;
}
