.random-country-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 36px;
}
.random-country {
    width: 34%;
    min-height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 36px;
}
.random-country-header {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.random-country-flag {
    object-fit: contain;
    width: 50%;
    height: 70%;
    margin: 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.random-country-name {
    font-size: 2.4rem;
    font-weight: 530;
    color: #4d4b4b;
    text-transform: uppercase;
    text-align: center;
    height: 24%;
}
.random-country-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}
.random-country-title {
    font-size: 2rem;
    font-weight: 600;
    color: #4d4b4b;
}
.random-country-info {
    font-weight: 400;
}
.random-country-button {
    margin: 28px 0;
    font-size: 2.2rem;
    background-color: #60dbfc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
.random-country-button:hover {
    cursor: pointer;
    opacity: 0.8;
}
